@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Administrator"))
    {
    <div class="row">
        <div class="col-sm-3">
            @Html.ActionLink("Take to Admin Dashboard", "Index", "Dashboard", null, new { @class = "dash_button" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Create Profile Update Request", "Index", "Dashboard", null, new { @class = "dash_button" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Create Salary Master Request", "Index", "Dashboard", null, new { @class = "dash_button" })
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Create Salary Process Request", "Index", "Dashboard", null, new { @class = "dash_button" })
        </div>
    </div>
    }else
    {
        <div class="row">
            <div class="col-sm-4">
                @Html.ActionLink("Create Profile Update Request", "Index", "Dashboard", null, new { @class = "dash_button" })
            </div>
            <div class="col-sm-4">
                @Html.ActionLink("Create Salary Master Request", "Index", "Dashboard", null, new { @class = "dash_button" })
            </div>
            <div class="col-sm-4">
                @Html.ActionLink("Create Salary Process Request", "Index", "Dashboard", null, new { @class = "dash_button" })
            </div>
            <div class="col-sm-4"></div>
        </div>

    }
}


<div class="jumbotron" style="margin-top: 20px">
    <h1>Master Approval System</h1>
    <p class="lead">This web application aims for the purpose of Master approvals in an organization. It is a module for salary and profile approvals where there can be n approval levels and m approvers in each level as decided by the administrator of the organisation. Moreover, the approval flow of every employee can be different if required. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>  